### Primeira competição do Kaggle - Dataset Titanic

Objetivo: Prever corretamente as pessoas que sobreviveram.

In [1]:
import pandas as pd
import os

In [2]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'datasets',
 'housing.ipynb',
 'Include',
 'Lib',
 'meu_melhor_modelo.pkl',
 'pyvenv.cfg',
 'Scripts',
 'share',
 'Titanic.ipynb']

In [3]:
train_data = pd.read_csv("datasets/titanic/train.csv")

In [4]:
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Parte 1 EDA - Exploratory Data Analysis

In [5]:
train_data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
train_data.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

Pclass e Fare podem ser interessantes para analise, dado que possuem certa correlação com nosso target(Survived)

In [9]:
train_data.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

Temos campos nulos o que pode prejudicar o modelo no processo de predição. 
Podemos abordar soluções distintas para esse problema. Começaremos por preencher os valores nulos.

In [10]:
def descreve_valores_nulos(dataset, nome_coluna):
    totais = dataset[nome_coluna].isnull().value_counts()
    percentual = dataset[nome_coluna].isnull().value_counts(normalize=True).mul(100).round(2).astype(str) +'%'
    return pd.DataFrame({'Totais': totais, 'Percentual': percentual})

In [11]:
descreve_valores_nulos(train_data,'Age')

       Totais Percentual
False     714     80.13%
True      177     19.87%

In [12]:
descreve_valores_nulos(train_data,'Cabin')

       Totais Percentual
True      687      77.1%
False     204      22.9%

Cabin torna-se forte candidato a ser removido visto que a maior parte dos seus dados estão vazios.

In [13]:
descreve_valores_nulos(train_data,'Embarked')

       Totais Percentual
False     889     99.78%
True        2      0.22%

In [14]:
pd.set_option('display.max_rows', None)

In [15]:
train_data.Cabin.value_counts().to_frame()

                 Cabin
B96 B98              4
G6                   4
C23 C25 C27          4
C22 C26              3
F33                  3
F2                   3
E101                 3
D                    3
C78                  2
C93                  2
E8                   2
D36                  2
B77                  2
C123                 2
E121                 2
E44                  2
D35                  2
C125                 2
E67                  2
B35                  2
B18                  2
E24                  2
B49                  2
C65                  2
B20                  2
B5                   2
B57 B59 B63 B66      2
C126                 2
B51 B53 B55          2
F4                   2
C124                 2
F G73                2
B58 B60              2
C52                  2
D33                  2
C68                  2
D20                  2
D26                  2
B28                  2
C83                  2
E25                  2
D17                  2
B22                  2
C92                  2
C2                   2
E33                  2
C70                  1
E58                  1
A16                  1
C86                  1
D19                  1
D48                  1
A26                  1
B50                  1
A20                  1
C101                 1
A10                  1
A23                  1
E68                  1
D9                   1
B41                  1
D50                  1
C85                  1
B71                  1
D49                  1
B42                  1
C50                  1
A24                  1
E17                  1
D28                  1
C47                  1
E49                  1
B69                  1
B102                 1
A36                  1
B82 B84              1
D6                   1
B3                   1
F38                  1
E77                  1
D11                  1
D30                  1
C46                  1
D45                  1
B101                 1
B38                  1
C45                  1
C90                  1
C62 C64              1
F G63                1
B39                  1
E10                  1
C95                  1
B86                  1
C99                  1
B94                  1
C87                  1
D15                  1
A31                  1
B80                  1
B4                   1
A32                  1
C49                  1
A7                   1
B19                  1
D47                  1
D7                   1
F E69                1
C110                 1
D10 D12              1
A5                   1
E31                  1
B30                  1
B78                  1
A6                   1
D56                  1
C103                 1
E46                  1
C118                 1
A19                  1
B73                  1
A34                  1
D46                  1
B79                  1
C30                  1
B37                  1
A14                  1
E63                  1
E12                  1
D21                  1
E38                  1
C111                 1
C104                 1
C82                  1
C106                 1
E50                  1
D37                  1
C128                 1
T                    1
E40                  1
C91                  1
C32                  1
E34                  1
C7                   1
C54                  1
E36                  1
C148                 1

In [16]:
train_data.Ticket.value_counts().to_frame()

                    Ticket
347082                   7
CA. 2343                 7
1601                     7
3101295                  6
CA 2144                  6
347088                   6
S.O.C. 14879             5
382652                   5
LINE                     4
PC 17757                 4
17421                    4
349909                   4
113760                   4
4133                     4
113781                   4
W./C. 6608               4
2666                     4
19950                    4
347077                   4
C.A. 31921               3
PC 17572                 3
C.A. 34651               3
363291                   3
F.C.C. 13529             3
345773                   3
248727                   3
24160                    3
29106                    3
SC/Paris 2123            3
35273                    3
371110                   3
230080                   3
PC 17760                 3
239853                   3
PC 17582                 3
347742                   3
110152                   3
13502                    3
110413                   3
PC 17755                 3
PC 17558                 2
237736                   2
17474                    2
PC 17758                 2
PP 9549                  2
S.O./P.P. 3              2
P/PP 3381                2
PC 17485                 2
2668                     2
2627                     2
PC 17604                 2
2653                     2
2665                     2
113798                   2
31027                    2
2908                     2
W./C. 6607               2
WE/P 5735                2
35281                    2
113789                   2
244367                   2
231919                   2
110465                   2
PC 17477                 2
2699                     2
367226                   2
113806                   2
230136                   2
111361                   2
113505                   2
113803                   2
370365                   2
364849                   2
358585                   2
250644                   2
C.A. 37671               2
250647                   2
16966                    2
36928                    2
113776                   2
392096                   2
C.A. 33112               2
A/4 48871                2
STON/O2. 3101279         2
2691                     2
2678                     2
PC 17593                 2
7534                     2
PC 17608                 2
11767                    2
347054                   2
243847                   2
PC 17761                 2
28403                    2
244252                   2
11668                    2
2659                     2
2661                     2
C.A. 2673                2
370129                   2
36973                    2
113572                   2
13507                    2
A/5. 3336                2
17453                    2
19928                    2
347080                   2
367230                   2
54636                    2
250655                   2
PC 17569                 2
26360                    2
376564                   2
11967                    2
19877                    2
220845                   2
PC 17611                 2
C.A. 2315                2
36947                    2
11751                    2
230433                   2
345764                   2
2651                     2
239865                   2
19943                    2
3101278                  2
250649                   2
29750                    2
364516                   2
248738                   2
12749                    2
19996                    2
S.C./PARIS 2079          2
349237                   2
STON/O 2. 3101273        1
349224                   1
A./5. 3235               1
14973                    1
SC/AH 29037              1
219533                   1
A/5 3902                 1
364848                   1
349214                   1
36963                    1
31028                    1
349910                   1
349246                   1
347743                   1
113804                   1
364511                   1
SOTON/O.Q. 3101305       1
364512                   1
11753                    1
334912                   1
113796                   1
111426                   1
27042                    1
350029                   1
13214                    1
2664                     1
112052                   1
370377                   1
A/5 21171                1
13567                    1
PC 17473                 1
364846                   1
330909                   1
4135                     1
111427                   1
C 4001                   1
382651                   1
SOTON/OQ 3101316         1
PC 17603                 1
350035                   1
349209                   1
36967                    1
C.A. 34260               1
226875                   1
349242                   1
349252                   1
2624                     1
315086                   1
C.A. 6212                1
237565                   1
239854                   1
323592                   1
315089                   1
SC/AH Basle 541          1
7553                     1
3460                     1
350060                   1
3101298                  1
A/5 3594                 1
A/4 45380                1
4134                     1
11771                    1
A.5. 18509               1
65304                    1
SOTON/OQ 3101317         1
113787                   1
PC 17609                 1
2700                     1
367232                   1
W./C. 14258              1
PC 17474                 1
SOTON/OQ 392082          1
SOTON/O.Q. 392087        1
349205                   1
2686                     1
350417                   1
S.W./PP 752              1
11769                    1
14312                    1
PC 17483                 1
A/4. 20589               1
243880                   1
2689                     1
STON/O 2. 3101286        1
237789                   1
13049                    1
3411                     1
218629                   1
349251                   1
372622                   1
345572                   1
3101296                  1
29104                    1
2641                     1
2690                     1
315084                   1
113050                   1
364498                   1
13568                    1
693                      1
SC/PARIS 2146            1
244358                   1
330979                   1
2620                     1
347085                   1
11755                    1
113807                   1
342826                   1
237668                   1
3474                     1
2685                     1
2625                     1
347089                   1
347063                   1
112050                   1
347087                   1
248723                   1
28206                    1
2671                     1
364499                   1
112058                   1
STON/O2. 3101290         1
C 7075                   1
315098                   1
19972                    1
368323                   1
349244                   1
17465                    1
28213                    1
349203                   1
8471                     1
345781                   1
350047                   1
2674                     1
29105                    1
347078                   1
383121                   1
36865                    1
2687                     1
113501                   1
SOTON/O.Q. 3101312       1
374887                   1
3101265                  1
12460                    1
PC 17600                 1
367228                   1
347468                   1
STON/O 2. 3101292        1
349212                   1
SC/PARIS 2149            1
PC 17590                 1
345777                   1
349248                   1
695                      1
345765                   1
2667                     1
349217                   1
2223                     1
349257                   1
7552                     1
C.A./SOTON 34068         1
SOTON/OQ 392076          1
211536                   1
112053                   1
111369                   1
236852                   1
233866                   1
17466                    1
28134                    1
PC 17756                 1
315097                   1
392092                   1
11774                    1
SOTON/O2 3101287         1
2683                     1
315090                   1
C.A. 5547                1
349213                   1
347060                   1
PC 17592                 1
392091                   1
113055                   1
2629                     1
350026                   1
364850                   1
112379                   1
347074                   1
6563                     1
C.A. 24580               1
244270                   1
239856                   1
349912                   1
113792                   1
4138                     1
330935                   1
349228                   1
2663                     1
350036                   1
349256                   1
2672                     1
113800                   1
248731                   1
363592                   1
35852                    1
F.C. 12750               1
A/5 3536                 1
312993                   1
234686                   1
350050                   1
349231                   1
13213                    1
S.O./P.P. 751            1
CA. 2314                 1
349221                   1
8475                     1
330919                   1
365226                   1
349223                   1
29751                    1
2623                     1
5727                     1
349210                   1
STON/O 2. 3101285        1
348121                   1
PC 17475                 1
36864                    1
28425                    1
349201                   1
349218                   1
16988                    1
376566                   1
STON/O 2. 3101288        1
250648                   1
113773                   1
335097                   1
29103                    1
345780                   1
349204                   1
350042                   1
29108                    1
363294                   1
SOTON/O2 3101272         1
233639                   1
239855                   1
350025                   1
STON/O2. 3101271         1
223596                   1
PC 17476                 1
PC 17482                 1
113028                   1
7545                     1
348124                   1
34218                    1
36568                    1
347062                   1
350048                   1
12233                    1
250643                   1
315094                   1
36866                    1
236853                   1
36209                    1
244278                   1
SOTON/O.Q. 3101306       1
SOTON/OQ 392090          1
S.O.P. 1166              1
A.5. 11206               1
A/5. 851                 1
Fa 265302                1
PC 17597                 1
35851                    1
315037                   1
350043                   1
371362                   1
C.A. 33595               1
347068                   1
315093                   1
PC 17318                 1
111240                   1
244310                   1
231945                   1
17764                    1
349241                   1
370369                   1
A4. 54510                1
27267                    1
370372                   1
C 17369                  1
347061                   1
SOTON/O.Q. 3101307       1
365222                   1
A/5. 3337                1
228414                   1
C.A. 29178               1
SC/PARIS 2133            1
11752                    1
347081                   1
STON/O 2. 3101280        1
350404                   1
A/S 2816                 1
367229                   1
367231                   1
112277                   1
SOTON/O.Q. 3101311       1
F.C.C. 13528             1
A/5 21174                1
250646                   1
STON/O2. 3101283         1
2628                     1
11813                    1
W/C 14208                1
SOTON/OQ 392089          1
220367                   1
21440                    1
349234                   1
A/5 3540                 1
3101264                  1
PC 17595                 1
234604                   1
250653                   1
SC/PARIS 2131            1
315153                   1
113767                   1
111428                   1
349247                   1
28424                    1
345770                   1
350046                   1
PC 17610                 1
368703                   1
4579                     1
370370                   1
248747                   1
STON/O 2. 3101294        1
4136                     1
324669                   1
330958                   1
335677                   1
C.A. 24579               1
2677                     1
A./5. 2152               1
7546                     1
349253                   1
S.C./A.4. 23567          1
349216                   1
370371                   1
14311                    1
2662                     1
A/4. 39886               1
2926                     1
113509                   1
PC 17601                 1
330959                   1
349249                   1
350406                   1
STON/O2. 3101282         1
373450                   1
330877                   1
17463                    1
113783                   1
A/5. 2151                1
248706                   1
2631                     1
244373                   1
345763                   1
2649                     1
248698                   1
330923                   1
113788                   1
19947                    1
C.A. 31026               1
2697                     1
PC 17759                 1
343276                   1
347466                   1
W.E.P. 5734              1
364500                   1
374910                   1
PC 17754                 1
349245                   1
2669                     1
349215                   1
7540                     1
3101276                  1
349207                   1
343120                   1
312991                   1
343275                   1
SOTON/OQ 392086          1
SO/C 14885               1
113059                   1
330932                   1
345779                   1
345767                   1
374746                   1
349208                   1
348123                   1
2680                     1
C.A. 33111               1
315151                   1
3101281                  1
S.P. 3464                1
C.A. 29395               1
PC 17605                 1
PP 4348                  1
SW/PP 751                1
A/5 21173                1
341826                   1
3101277                  1
350052                   1
350407                   1
PC 17599                 1
240929                   1
STON/O 2. 3101289        1
4137                     1
SC 1748                  1
315096                   1
28664                    1
347064                   1
312992                   1
349222                   1
394140                   1
350034                   1
367655                   1
330980                   1
3101267                  1
SOTON/O.Q. 3101310       1
C 7076                   1
110813                   1
2626                     1
14313                    1
11765                    1
323951                   1
27849                    1
C 7077                   1
113503                   1
2648                     1
347069                   1
STON/O 2. 3101293        1
349227                   1
STON/O 2. 3101269        1
343095                   1
28220                    1
13509                    1
113794                   1
113786                   1
65303                    1
113051                   1
A/5 2817                 1
349240                   1
17464                    1
250652                   1
F.C.C. 13531             1
371060                   1
19952                    1
364506                   1
111320                   1
234360                   1
33638                    1
65306                    1
230434                   1
347076                   1
345769                   1
C.A. 18723               1
STON/O 2. 3101274        1
SC/AH 3085               1
110564                   1
SOTON/O.Q. 392078        1
364851                   1
2003                     1
A/4. 34244               1
315082                   1
A/5. 13032               1
349254                   1
28228                    1
SC/PARIS 2167            1
330931                   1
236171                   1
347464                   1
C.A. 17248               1
347083                   1
PC 17596                 1
370375                   1
347073                   1
336439                   1
345778                   1
112059                   1
A/5. 10482               1
113056                   1
349239                   1
345774                   1
349206                   1
237798                   1
382649                   1
384461                   1
237671                   1
SCO/W 1585               1
347067                   1
237442                   1
C.A. 29566               1
W./C. 6609               1
26707                    1
28665                    1
W./C. 14263              1
PC 17585                 1
STON/O 2. 3101275        1
2694                     1
347071                   1
362316                   1
113514                   1
2650                     1
370373                   1
SC/Paris 2163            1
349236                   1
31418                    1
7598                     1
113784                   1
248740                   1
244361                   1
229236                   1
248733                   1
386525                   1
349233                   1
315088                   1
7267                     1
113510                   1
2695                     1
2647                     1
345783                   1
349225                   1
113043                   1
28551                    1
345364                   1
234818                   1
349219                   1
A/5 21172                1
29011                    1
347470                   1
349243                   1
250651                   1
A/5 2466                 1
226593                   1
9234                     1
19988                    1
2693                     1
PC 17612                 1
370376                   1

Obviamente, nem todas as colunas nos serão úteis. Portanto, essas serão removidas.

In [17]:
train_data_sem_tratamento = train_data.copy()

In [18]:
train_data_sem_tratamento.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
train_data.drop("Name", axis = 1, inplace=True)
train_data.drop("Ticket", axis = 1, inplace=True)
train_data.drop("Cabin", axis = 1, inplace=True)
train_data.drop("PassengerId", axis = 1, inplace=True)

In [20]:
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [21]:
train_data.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [22]:
train_data.isnull().value_counts()

Survived  Pclass  Sex    Age    SibSp  Parch  Fare   Embarked
False     False   False  False  False  False  False  False       712
                         True   False  False  False  False       177
                         False  False  False  False  True          2
dtype: int64

### 2 - Tratamento dos dados

Teremos que tratar dados textuais como(Sex e Embarked) e dados númericos. Para isso utilizaremos diferentes tipos de transformadores.

In [23]:
train_data.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [24]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#### 2.1 Criando Pipelines

In [25]:
##Pipeline para atributos númericos
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy= 'median')),
    ('std_scaler', StandardScaler())
])

A principio, para atributos númericos, trataremos os dados faltantes utilizando a mediana dos dados existentes.

In [26]:
cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy="most_frequent")),
    ('cat to num', OrdinalEncoder())
])

Para atributos categóricos, como no caso de Embarked, usaremos a categoria mais recorrente.

In [27]:
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [28]:
labels = train_data["Survived"].copy()
train_data= train_data.drop("Survived", axis=1)
atributos_numericos = list(train_data.drop(["Sex", "Embarked"], axis =1)) ##train_data.select_dtypes(exclude="object").columns 
atributos_categoricos = list(train_data[["Sex", "Embarked"]]) ##train_data.select_dtypes(include="object").columns

In [29]:
atributos_numericos

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [30]:
atributos_categoricos

['Sex', 'Embarked']

In [31]:
total_pipeline = ColumnTransformer([
    ("Numerico", num_pipeline, atributos_numericos),
    ("Categorico", cat_pipeline, atributos_categoricos)   
])

In [32]:
train_data_prepared = total_pipeline.fit_transform(train_data)

In [33]:
train_data_prepared

array([[ 0.82737724, -0.56573646,  0.43279337, ..., -0.50244517,
         1.        ,  2.        ],
       [-1.56610693,  0.66386103,  0.43279337, ...,  0.78684529,
         0.        ,  0.        ],
       [ 0.82737724, -0.25833709, -0.4745452 , ..., -0.48885426,
         0.        ,  2.        ],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ..., -0.17626324,
         0.        ,  2.        ],
       [-1.56610693, -0.25833709, -0.4745452 , ..., -0.04438104,
         1.        ,  0.        ],
       [ 0.82737724,  0.20276197, -0.4745452 , ..., -0.49237783,
         1.        ,  1.        ]])

### Parte 3 - Treinando um modelo

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold

In [46]:
test = pd.read_csv("datasets/titanic/test.csv")

In [35]:
labels.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [43]:
labels.value_counts().isnull().any()

False

In [50]:
lin_reg = LinearRegression()
lin_reg.fit(train_data_prepared, labels)
##train_x, test_x, train_y, test_y = train_test_split(x,y,random_state=0, test_size = 0.25, stratify = y)
resultados = cross_validate(lin_reg, x, y, cv = cv, return_train_score=False)

NameError: name 'x' is not defined

In [45]:
##regressao_linear.predict()

TypeError: predict() missing 1 required positional argument: 'X'

In [49]:
##cv = StratifiedKFold(n_splits = 3, shuffle = True)